<p id="notice"><%= notice %></p>

<h1>Appoitments</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Start time</th>
      <th>End time</th>
      <th>User</th>
      <th>Field</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appoitments.each do |appoitment| %>
      <tr>
        <td><%= appoitment.description %></td>
        <td><%= appoitment.start_time %></td>
        <td><%= appoitment.end_time %></td>
        <td><%= appoitment.user_id %></td>
        <td><%= appoitment.field_id %></td>
        <td><%= link_to 'Show', appoitment %></td>
        <td><%= link_to 'Edit', edit_appoitment_path(appoitment) %></td>
        <td><%= link_to 'Destroy', appoitment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appoitment', new_appoitment_path %>
