<p id="notice"><%= notice %></p>
<div class="appo">

<div class="apptable">
<h1>Appointments</h1>
<%= link_to new_appointment_path do %>
<button type="button" class="btn btn-info">Schedule a play time
<i class="fas fa-plus"></i>
</button>
<%end%>
<table>
  <thead>
    <tr>
      <th>Title</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.title %></td>
      
        <td> <a href="/appointments/<%=appointment.id%>">
        <i class="far fa-eye"></i></a>
        </td>
        <% if current_user%>
        <td><a href="/appointments/<%=appointment.id%>/edit"
        <i class="far fa-edit"></i></a>
      
       </td>
      
      
        <td><%= link_to appointment, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="far fa-trash-alt"></i>
        <%end%>
        </td>
         <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


<div id="calendar"></div>

</div>